<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>MMBFL</title>
  </head>

  <body>
    <div class="background">
      <header>
        <img
          class="logo"
          src="https://i.pinimg.com/236x/8d/60/80/8d6080d1f7a95258aad3c6d4e54e16a1--frog-meme-america.jpg"
          alt="logo"
        />
        <div class="Nav_links">
          <a href="/">Home</a>
          <a href="Calender.html">Calender</a>
          <a href="Teams.html">Teams</a>
          <a href="Contacts.html">Contacts</a>
          <a href="Crew.html">Crew</a>
        </div>
      </header>
    </div>
    {{{ body }}}
  </body>
</html>
