<h1 class="subhead"><u>The League</u></h1>
<div class="grid-box section">
  <div>
    <h2>
      The MMBFL was created in the fall of 2019 as the vision of James
      Wetherhold and Liam Crane.
    </h2>
    <br />
    <h2>
      Their goal was to bring amateur two-hand-touch football to the students in
      Mechanicsburg, Pennsylvania. Originally created to include only members of
      the marching band, the MMBFL quickly became a hit and the league began
      accepting players from all walks of life and backgrounds.
    </h2>
    <br />
    <h2>
      With Wetherhold as Commissioner, the inaugural 2019-2020 season had four
      teams and almost 40 players total.
    </h2>
    <br />
    <h2>
      Seeing the league’s success in the winter, Wetherhold and Crane decided to
      continue the league into the summer of 2020. The 2020 season currently has
      eight teams and includes about 50 players and counting.
    </h2>
  </div>
  <div>
    <h2>
      The MMBFL is always accepting new players and officials.
    </h2>
    <br />
    <h2>
      If you’d like to become a player or official send an email to
      <a href="mailto:mmbfl.commissioner@gmail.com"
        >mmbfl.commissioner@gmail.com</a
      >
      or DM us on Instagram
      <a href="https://www.instagram.com/mmbfl.official/?hl=en"
        >@mmbfl.official</a
      >
    </h2>
  </div>
</div>
