<br />
<h1 class="subhead"><u>Team Web Pages</u></h1>
<div class="grid-box grid-box-2 section">
  <div>
    <h1><u>San Salvador Que Sustos</u></h1>
    <a href="teams/San Salvador Que Sustos.html">Team</a>
  </div>
  <div>
    <h1><u>Kalamazoo Kangaroos</u></h1>
    <a href="teams/Kalamazoo Kangaroos.html">Team</a>
  </div>
  <div>
    <h1><u>South Central Ravens</u></h1>
    <a href="teams/South Central Ravens.html">Team</a>
  </div>
  <div>
    <h1><u>Ecuadorian Eagles</u></h1>
    <a href="teams/Ecuadorian Eagles.html">Team</a>
  </div>
  <div>
    <h1><u>Cardiff Artichokes</u></h1>
    <a href="teams/Cardiff Artichokes.html">Team</a>
  </div>
  <div>
    <h1><u>Hampden Honey Badgers</u></h1>
    <a href="teams/Hampden Honey Badgers.html">Team</a>
  </div>
  <div>
    <h1><u>Bismark Royals</u></h1>
    <a href="teams/Bismark Royals.html">Team</a>
  </div>
  <div>
    <h1><u>Velvet Knights</u></h1>
    <a href="teams/Velvet Knights.html">Team</a>
  </div>
</div>
